# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=hotelhub
DB_USER=postgres
DB_PASSWORD=postgres

# JWT
JWT_KEY=CHANGE_ME
JWT_ISSUER=HotelHub
JWT_AUDIENCE=HotelHub

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# Redis
REDIS_CONNECTION=localhost:6379